streamlit
Pillow
numpy
pandas
matplotlib
scikit-learn
scipy
requests
setuptools
PyPDF2
langchain_google_genai
faiss-cpu
pydantic==1.10.11
langchain  # Replace with your working version
google-auth
google-generativeai  # For Google Generative AI integration
transformers  # If you plan to use Hugging Face models
# Uncomment the following lines based on your framework choice
# tensorflow  # If you are using TensorFlow
# torch  # If you are using PyTorch
openai  # For OpenAI API integration, if needed
langchain-google-genai
langchain-text-splitters
